<!doctype html>

<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  {% block css %}

  {% endblock %}

  <style>
    @keyframes moveText {
      0% {
        transform: translateX(-10%);
        color: orange;
      }

      50% {
        transform: translateX(15%);
        color: black;
      }

      100% {
        transform: translateX(-10%);
        color: magenta;
      }
    }

    .display-5 {
      animation: moveText 5s linear infinite;
    }
  </style>
  <div class="p-4 bg-light-yellow">
    <div class="container-fluid py-3">
      <h5 class="display-5 fw-bold" style="color: orange;">Welcome to Small Basket Online Shopping</h5>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-center mx-auto" href="/newapp/">Small Basket Online Shopping</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/newapp/product_list">Home</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link active" href="/newapp/customer_login/">Customer Login</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link active" href="/newapp/registration/">Register As New Customer</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          

          
          <!-- Search Button -->


          <form action="{% url 'newapp:search' %}" method="GET">
            <label for="search_query">Search Product:</label>
            <input type="text" id="search_query" name="q" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
          </form>
      </div>
    </div>
    </div>
  </nav>


</html>


{% block body %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{% block js %}
{% endblock %}
</body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
